html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "GothamPro", sans-serif;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.02em;
  color: $primary;
}

.body.locked {
  overflow: hidden;
  overflow-y: visible !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  margin: 0;
  border: none;
  padding: 0;
}

input {
  border: none;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1190px;
}

.dn {
  display: none !important;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  overflow: hidden;
  background-color: #111;
  transition: filter 0.3s;

  &.blur {
    filter: blur(5px);
  }
}


.actions {
  display: flex;
  flex-direction: column;

  // .actions__item

  &__item {
    margin-bottom: 20px;
    border-radius: 16px;
    min-width: 98px;
    min-height: 32px;
    box-shadow: 0 4px 20px rgba(202, 197, 197, 0.65);
    background-image: linear-gradient(180deg, #ffc53f 0%, #d9af1c 100%);
    transition: transform 0.5s ease;

    &:hover {
      transform: translateX(-20px);
    }

    // .actions__item_tel

    &_tel {
      background: url("../img/icons/phone.svg") 15% 50%, linear-gradient(180deg, #ffc53f 0%, #d9af1c 100%);
      background-repeat: no-repeat;
    }

    // .actions__item_message

    &_message {
      background: url("../img/icons/message.svg") 15% 50%, linear-gradient(180deg, #ffc53f 0%, #d9af1c 100%);
      background-repeat: no-repeat;
    }
  }
}

.gradient-text {
  background: linear-gradient(180deg, #FFC53F 0%, #D9AF1C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ECBB2E;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 1em;
  box-shadow: 0 8px 7px rgba(0, 0, 0, 0.4);
  font-weight: 400;
  font-size: 16px;
  background-image: linear-gradient(180deg, #FFC53F 0%, #D9AF1C 100%);
  transition: background-image 0.7s ease-in-out;
  cursor: pointer;


  &:hover {
    background-image: linear-gradient(180deg, #DE9B00 0%, #D9AF1C 100%);
    transition: background-image 0.7s ease-in-out;
  }
}

.section-caption {
  font-weight: 900;

  &__sup {
    text-transform: uppercase;
    opacity: 0.48;
    @include adaptive-font(24, 16);

    @media screen and (min-width: $maxWidth + 1) {
      margin-bottom: 0.5em;
      font-size: 24px;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;

    @media screen and (max-width: $medium) {
      font-size: 32px;
    }
  }

  &__sub {
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    opacity: 0.48;
  }
}

.rub {
  &:after {
    content: "₽";
  }
}

.fade-in-top {
  -webkit-animation: fade-in-top 0.8s both;
  animation: fade-in-top 0.8s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-3 13:35:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-3 12:57:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

// @keyframes move {
//   100% {
//     transform: scale(3);
//   }
// }