@charset "UTF-8";

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro-Italic";
  font-display: swap;
  src: url("../fonts/GothamPro-MediumItalic.woff") format("woff"), url("../fonts/GothamPro-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "GothamPro", sans-serif;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.02em;
  color: #f0f0f0;
}

.body.locked {
  overflow: hidden;
}

.main.blur {
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  margin: 0;
  border: none;
  padding: 0;
}

input {
  border: none;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1190px;
}

.dn {
  display: none !important;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  overflow-x: hidden;
  background-color: #111;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.actions__item {
  margin-bottom: 20px;
  border-radius: 16px;
  min-width: 98px;
  min-height: 32px;
  -webkit-box-shadow: 0 4px 20px rgba(202, 197, 197, 0.65);
          box-shadow: 0 4px 20px rgba(202, 197, 197, 0.65);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc53f), to(#d9af1c));
  background-image: -o-linear-gradient(top, #ffc53f 0%, #d9af1c 100%);
  background-image: linear-gradient(180deg, #ffc53f 0%, #d9af1c 100%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.actions__item:hover {
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
}

.actions__item_tel {
  background: url("../img/icons/phone.svg") 15% 50%, -webkit-gradient(linear, left top, left bottom, from(#ffc53f), to(#d9af1c));
  background: url("../img/icons/phone.svg") 15% 50%, -o-linear-gradient(top, #ffc53f 0%, #d9af1c 100%);
  background: url("../img/icons/phone.svg") 15% 50%, linear-gradient(180deg, #ffc53f 0%, #d9af1c 100%);
  background-repeat: no-repeat;
}

.actions__item_message {
  background: url("../img/icons/message.svg") 15% 50%, -webkit-gradient(linear, left top, left bottom, from(#ffc53f), to(#d9af1c));
  background: url("../img/icons/message.svg") 15% 50%, -o-linear-gradient(top, #ffc53f 0%, #d9af1c 100%);
  background: url("../img/icons/message.svg") 15% 50%, linear-gradient(180deg, #ffc53f 0%, #d9af1c 100%);
  background-repeat: no-repeat;
}

.gradient-text {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFC53F), to(#D9AF1C));
  background: -o-linear-gradient(top, #FFC53F 0%, #D9AF1C 100%);
  background: linear-gradient(180deg, #FFC53F 0%, #D9AF1C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ECBB2E;
}

.btn {
  display: inline-grid;
  place-items: center;
  border-radius: 16px;
  padding: 1em;
  -webkit-box-shadow: 0 8px 7px rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 7px rgba(0, 0, 0, 0.4);
  font-weight: 400;
  font-size: 16px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFC53F), to(#D9AF1C));
  background-image: -o-linear-gradient(top, #FFC53F 0%, #D9AF1C 100%);
  background-image: linear-gradient(180deg, #FFC53F 0%, #D9AF1C 100%);
  -webkit-transition: background-image 0.7s ease-in-out;
  -o-transition: background-image 0.7s ease-in-out;
  transition: background-image 0.7s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DE9B00), to(#D9AF1C));
  background-image: -o-linear-gradient(top, #DE9B00 0%, #D9AF1C 100%);
  background-image: linear-gradient(180deg, #DE9B00 0%, #D9AF1C 100%);
  -webkit-transition: background-image 0.7s ease-in-out;
  -o-transition: background-image 0.7s ease-in-out;
  transition: background-image 0.7s ease-in-out;
}

.section-caption {
  font-weight: 900;
}

.section-caption__sup {
  text-transform: uppercase;
  opacity: 0.48;
  font-size: calc(16px + 8 * ((100vw - 375px) / 1065));
}

.section-caption__title {
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
}

.section-caption__sub {
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  opacity: 0.48;
}

.rub:after {
  content: "₽";
}

.fade-in-top {
  -webkit-animation: fade-in-top 0.8s both;
  animation: fade-in-top 0.8s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-3 13:35:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-3 12:57:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #737373;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.modal-window {
  position: relative;
  background-color: #FFFFFF;
  width: 50%;
  margin: 10% auto;
  padding: 20px;
}

.modal-window.small {
  width: 30%;
}

.modal-window.large {
  width: 75%;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  height: 30px;
  width: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.close:hover,
.close:focus {
  color: #ccc;
  cursor: pointer;
}

.open {
  display: block;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding-top: 55px;
  padding-bottom: 48.5%;
}

.intro__media {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #000 url("../img/logo-lg.svg") no-repeat center center;
  background-size: 26%;
}

.intro__video {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  max-width: 80%;
  max-height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -45%);
      -ms-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
}

.intro__content {
  z-index: 10;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #fff;
}

.intro__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 134.7%;
  text-align: center;
  color: rgba(240, 240, 240, 0.4);
  text-transform: uppercase;
}

.intro__actions {
  position: absolute;
  right: -60px;
  top: 72%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-bottom: 45%;
  text-align: center;
  background-image: url("../img/backgrounds/header-bg2.png");
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #000;
}

.header__title {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 64px;
  text-transform: uppercase;
  color: linear-gradient(180deg, #FFC53F 0%, #D9AF1C 100%);
}

.header__subtitle {
  margin-bottom: 0.5em;
}

.header__label {
  margin-bottom: 26px;
  font-weight: 900;
  font-size: 24px;
}

.header__btn {
  min-width: 280px;
  min-height: 80px;
}

.header.blur {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.about {
  position: relative;
  padding: 7% 0 18%;
  background-image: url(../img/backgrounds/bag-bg.png);
  background-position: 68% 127%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.about:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 300%;
  background-image: url("../img/backgrounds/fog.png");
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.about__caption {
  margin-bottom: 22px;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 88%;
}

.about__textblock {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.about__answer {
  margin-bottom: 24px;
  max-width: 560px;
  font-weight: 700;
}

.about__text {
  display: grid;
  grid-auto-flow: column;
  max-width: 522px;
  font-weight: 400;
  gap: 24px;
}

.about__rent {
  padding: 23px 10px 10px 44px;
  background: initial;
  background-image: url("../img/backgrounds/decorate.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.about__rent span {
  font-weight: 300;
  color: #fff;
  opacity: 0.48;
}

.about__rent p {
  font-weight: 900;
  font-size: 32px;
  line-height: 131.7%;
}

.benefits {
  position: relative;
  padding: 12% 0;
}

.benefits::after {
  content: "";
  position: absolute;
  right: -15%;
  bottom: -15%;
  width: 58%;
  height: 70%;
  background-image: url(../img/backgrounds/gloves-bg.png);
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.benefits__inner {
  padding: 0 18px;
}

.benefits__caption {
  margin-bottom: 50px;
}

.benefits__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: -24px;
}

.benefits__item {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  margin-bottom: 44px;
  padding: 38px 96px 15px 38px;
  background-image: url("../img/backgrounds/decorate.svg");
  background-position: top left;
  background-size: initial;
  background-repeat: no-repeat;
}

.benefits__icon {
  margin-bottom: 31px;
  width: 40px;
  height: 40px;
}

.benefits__item-title {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 130.7%;
  color: #ffc53f;
  font-style: italic;
}

.benefits__item-text {
  font-size: 14px;
  line-height: 134.7%;
}

.formats {
  position: relative;
  padding: 4% 0;
}

.formats:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 200%;
  background-image: url("../img/backgrounds/fog.png");
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.formats__caption {
  margin-bottom: 40px;
}

.shops {
  padding: 8% 0 5.5%;
}

.shops__horizontal-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 460px;
  text-align: center;
}

.shops__vertical-slider {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.shops__vertical-wrapper {
  padding: 10% 0 5%;
}

.shops__text {
  margin-right: 30px;
  margin-left: auto;
  text-align: left;
}

.shops__sup {
  margin-bottom: 13px;
}

.shops__next,
.shops__prev {
  position: absolute;
  left: 50%;
  z-index: 100;
  width: 60px;
  height: 55px;
  background-image: url("../img/icons/slier-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.shops__prev {
  top: 5%;
}

.shops__next {
  bottom: 0;
  -webkit-transform: translateX(-50%) rotate(180deg);
      -ms-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}

.text-shops {
  position: relative;
  z-index: 10;
}

.text-shops__links {
  margin-bottom: 40px;
  font-weight: 300;
}

.text-shops__link {
  display: block;
  margin-bottom: 16px;
  padding-left: 30px;
  max-width: 200px;
  background-position: top left;
  background-size: initial;
  background-repeat: no-repeat;
}

.text-shops__link:last-child {
  margin-bottom: 0;
}

.text-shops__link_adress {
  background-image: url("../img/icons/baloonsvg.svg");
}

.text-shops__link_insta {
  background-image: url("../img/icons/instagram.svg");
}

.text-shops__link_web {
  background-image: url("../img/icons/web.svg");
  margin-top: auto;
}

.text-shops__btn {
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 30px;
  min-width: 264px;
  min-height: 45px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.text-shops__btn::after {
  content: "";
  position: absolute;
  right: 8%;
  top: 50%;
  width: 24px;
  height: 10px;
  background: url("../img/icons/arrow-other.svg") center no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.text-shops__btn:hover::after {
  -webkit-transform: translateX(20%) translateY(-50%);
      -ms-transform: translateX(20%) translateY(-50%);
          transform: translateX(20%) translateY(-50%);
}

.text-shops__all {
  margin: 0;
}

.text-shops__all .text-shops__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text-shops__all .text-shops__links {
  margin-right: 20px;
}

.tabs {
  position: relative;
  z-index: 10;
}

.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
}

.tabs__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 26px 16px 41px 22px;
  background-size: initial;
  opacity: 0.4;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
}

.tabs__item_active {
  background-image: url("../img/backgrounds/decorate.svg");
  opacity: 1;
}

.tabs__item_active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8px;
  background-color: #fff;
}

.tabs__content {
  display: none;
}

.tabs__content_active {
  display: block;
}

.item__title {
  position: relative;
  margin-bottom: 15px;
  padding-top: 20px;
  font-weight: 900;
  font-size: 24px;
}

.item__title::before {
  content: "Пакет";
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 300;
  font-size: 12px;
  color: #646464;
}

.item__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.item__parameter {
  padding-left: 36px;
  background-position: center left;
  background-repeat: no-repeat;
}

.item__parameter_square {
  margin-right: 24px;
  background-image: url("../img/icons/cube.svg");
}

.item__parameter_invest {
  background-image: url("../img/icons/cash.svg");
}

.fee {
  margin-bottom: 26px;
  font-size: 12px;
}

.fee:last-child {
  margin-bottom: 0;
}

.fee__sup {
  font-weight: 300;
  font-style: italic;
  color: #616161;
}

.fee__price {
  font-weight: 900;
  font-size: 32px;
  color: #fff;
}

.fee__sub {
  font-weight: 900;
  color: #616161;
}

.content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 460px;
}

.content__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.content__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53%;
          flex: 0 0 53%;
}

.content__img img {
  -webkit-transform: translate(-30px, 80px);
      -ms-transform: translate(-30px, 80px);
          transform: translate(-30px, 80px);
}

.content__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 128px;
}

.content__footer .fee {
  margin-right: 105px;
  margin-bottom: 0;
  white-space: nowrap;
}

.content__footer .fee__price {
  color: #ffc53f;
}

.content__footer-btn {
  position: relative;
  z-index: 10;
  margin-left: auto;
  min-width: 264px;
  min-height: 64px;
}

.included__title {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 16px;
}

.included__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  z-index: -1;
  width: 100%;
  height: 40%;
  background-color: #ffc53f;
}

.included__list {
  font-size: 12px;
  line-height: 131.7%;
}

.included__list li {
  margin-bottom: 16px;
}

.included__list li::last-child {
  margin-bottom: 0;
}

.feedback {
  position: relative;
  overflow-x: hidden;
  padding: 11% 0;
  background-image: url("../img/choco.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.feedback__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback__body {
  position: relative;
  z-index: 10;
}

.feedback .section-caption__title {
  margin-bottom: 22px;
}

.feedback__caption {
  margin-bottom: 40px;
}

.feedback__sub {
  max-width: 480px;
}

.form {
  display: grid;
  grid-auto-flow: column;
  max-width: 853px;
  color: #ffc53f;
  gap: 27px;
}

.form__field {
  position: relative;
}

.form__field .js-validate-error-label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.form__field input[type="text"],
.form__field input[type="tel"] {
  border: 1px solid #ffc53f;
  border-radius: 16px;
  padding: 24px 32px;
  width: 100%;
  height: 64px;
  color: #ffc53f;
  background-color: #252116;
}

.form__btn {
  min-width: 264px;
  min-height: 64px;
}

.presentation {
  position: relative;
  padding: 13% 0 44%;
  background-image: url("../img/book.png");
  background-position: 70% -20px;
  background-size: 90%;
  background-repeat: no-repeat;
}

.presentation:before,
.presentation:after {
  content: "";
  position: absolute;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.presentation:before {
  right: -3.5%;
  top: -2.5%;
  width: 16%;
  height: 24%;
  background-image: url(../img/yellow-can.png);
}

.presentation:after {
  left: -5%;
  bottom: -4%;
  width: 39%;
  height: 51%;
  background-image: url(../img/blsck-cans.png);
  background-size: contain;
}

.presentation__caption {
  color: #5b4a1e;
}

.presentation__sup {
  margin-bottom: 7px;
  opacity: 1;
}

.presentation__title {
  margin-bottom: 21px;
}

.presentation__sub {
  margin-bottom: 32px;
  max-width: 400px;
}

.presentation__btn {
  position: relative;
  z-index: 10;
  min-width: 265px;
  min-height: 64px;
  color: #000;
}

.questions {
  position: relative;
  padding: 4% 0 5%;
}

.questions:after {
  content: "";
  position: absolute;
  top: -180%;
  width: 100%;
  height: 300%;
  background-image: url("../img/backgrounds/fog.png");
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.questions__inner {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-height: 800px;
  max-width: 737px;
}

.questions__caption {
  margin-bottom: 50px;
  text-align: center;
}

.page-bottom {
  background-image: url("../img/backgrounds/bg-bottom-page.png");
  background-position: 50% 80%;
  background-size: 70%;
  background-repeat: no-repeat;
}

.accordion {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  max-width: 737px;
  z-index: 10;
}

.accordion-item {
  margin-bottom: 6px;
}

.accordion-item__trigger {
  position: relative;
  border-radius: 8px;
  padding: 32px 58px 24px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f1f1f), to(#040404));
  background: -o-linear-gradient(top, #1f1f1f 0%, #040404 100%);
  background: linear-gradient(180deg, #1f1f1f 0%, #040404 100%);
  cursor: pointer;
}

.accordion-item__trigger::after {
  content: "+";
  position: absolute;
  right: 32px;
  top: 50%;
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.accordion-item__content {
  display: none;
  margin-top: -5px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 20px 32px;
  background-color: #272727;
}

.accordion-item__content p {
  margin-bottom: 20px;
  font-weight: 300;
}

.accordion-item__content p:last-child {
  margin-bottom: 0;
}

.accordion-item__content ul {
  padding-left: 10px;
  margin-bottom: 20px;
}

.accordion-item__content li {
  list-style-type: disc;
}

.accordion-item_active .accordion-item__content {
  display: block;
}

.accordion-item_active .accordion-item__trigger:after {
  content: "-";
}

.footer__inner {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 158px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__caption {
  margin-right: 86px;
}

.footer__sup {
  color: #5a4a1d;
}

.footer__links {
  max-width: 227px;
}

.footer__link {
  margin-bottom: 16px;
  padding-left: 35px;
  font-size: 14px;
  background-position: top left;
  background-size: initial;
  background-repeat: no-repeat;
}

.footer__link_adress {
  background-image: url("../img/icons/baloonsvg.svg");
}

.footer__link_phone {
  background-image: url("../img/icons/phone-2.svg");
}

.footer__link_mail {
  background-image: url("../img/icons/email.svg");
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__social {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
}

.footer__social-item {
  border-radius: 16px;
  width: 140px;
  height: 140px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.footer__social-item a {
  display: block;
  width: 100%;
  height: 100%;
}

.footer__social-item_instagram {
  background: #000 url("../img/icons/Inst-logo.png") 10% 50%;
}

.footer__social-item_facebook {
  background: #000 url("../img/icons/fb-logo-vk.png") 19px 0;
  background-repeat: no-repeat;
}

.footer__social-item_youtube {
  background: #000 url("../img/icons/yt-logo.png") 10% 50%;
}

.footer__social-item:hover {
  background-color: #FFC53F;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0.1;
}

.footer__developed span {
  font-weight: 900;
}

.modal-window {
  border-radius: 16px;
  padding: 72px;
  width: 100%;
  max-width: 569px;
  background-color: #131313;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.modal__caption {
  text-align: center;
}

.modal__title {
  font-size: 32px;
  line-height: 131.7%;
  text-transform: uppercase;
}

.modal__sub {
  margin-bottom: 32px;
}

.close {
  left: 50%;
  top: auto;
  bottom: -50px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-form {
  grid-auto-flow: row;
}

.modal-form .form__field,
.modal-form .form__btn {
  margin: 0 auto;
  width: 100%;
  max-width: 296px;
}

@media screen and (min-width: 1441) {
  .section-caption__sup {
    margin-bottom: 0.5em;
    font-size: 24px;
  }
}

@media screen and (max-width: 1399px) {
  .about {
    background-position: 68% 110%;
  }
}

@media screen and (max-width: 1300px) {
  .feedback {
    background-position: 150% 50%;
    background-size: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .benefits__item {
    padding: 30px;
  }

  .footer__wrapper {
    display: block;
  }

  .footer__caption {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .intro__media {
    background-size: 50%;
  }

  .intro__video {
    display: none;
  }

  .header {
    background-position: 50% 30%;
  }

  .text-shops__link {
    max-width: 100%;
  }
}

@media screen and (max-width: 1130px) {
  .shops__vertical-wrapper {
    padding: 15% 0 5%;
  }

  .shops__prev {
    top: 0;
  }

  .shops__next {
    bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  .section-caption__title {
    font-size: 32px;
  }

  .modal-window {
    padding: 30px 10px;
  }

  .tabs__list {
    overflow: auto;
  }

  .content__footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__links {
    margin-bottom: 50px;
  }

  .footer__social-item {
    width: 88px;
    height: 88px;
    background-position: -100px 50%;
    background-size: 120%;
  }

  .footer__bottom {
    text-align: center;
  }

  .footer__copy {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 13px;
  }

  .footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 34px;
  }

  .footer__developed {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media screen and (max-width: 1024px -1) {
  .header__label {
    margin-bottom: 39px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    background-position: 50% 50%;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .benefits__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .shops__horizontal-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px;
  }

  .shops__vertical-slider {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .shops__vertical-wrapper {
    padding: 30px 0;
  }

  .shops__text {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0;
    margin-bottom: 30px;
  }

  .content__footer .fee {
    margin-right: 57px;
  }

  .content__footer-btn {
    margin-left: 0;
  }
}

@media screen and (max-width: 920px) {
  .feedback {
    padding: 11% 0 30%;
    background-image: url(../img/choco-mob.png);
    background-position: 50% 190px;
  }
}

@media screen and (max-width: 880px) {
  .content__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .content__text {
    padding-top: 40px;
  }

  .content__img {
    min-height: auto;
  }

  .content__img img {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .content__footer {
    margin-top: 0;
  }

  .content__footer .fee {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-bottom: 114%;
  }

  .intro__media {
    background-size: 60%;
  }

  .header {
    background-position: 50% 100%;
  }

  .about {
    padding: 7% 0 50%;
    background-position: 34px 116%;
    background-size: 126%;
  }

  .benefits {
    padding: 12% 0 40%;
  }

  .benefits::after {
    right: 0;
    bottom: -5%;
    width: 70%;
    height: 30%;
  }

  .benefits__body {
    padding: 0 30px;
  }

  .feedback {
    padding: 11% 0 50%;
    background-position: 50% 350px;
    background-size: 100%;
  }

  .presentation {
    padding: 10% 0 100%;
    background-position: 50% 80%;
    background-size: 126%;
  }

  .presentation:before {
    display: none;
  }

  .presentation:after {
    left: auto;
    right: -10%;
    bottom: -20%;
    width: 55%;
    opacity: 0.5;
  }

  .accordion-item__trigger {
    padding: 10px 58px 10px 20px;
    font-size: 14px;
  }

  .accordion-item__content {
    padding: 10px;
    font-size: 14px;
  }

  .footer__inner {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 16px;
  }

  .header__title {
    font-size: 36px;
  }

  .header__label {
    margin: 0 auto 15px;
    max-width: 80%;
  }

  .about__caption {
    margin-bottom: 32px;
  }

  .about__text {
    grid-auto-flow: row;
    margin-bottom: 40px;
  }

  .benefits__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 0;
  }

  .item__params {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item__parameter_square {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .item__parameter_invest {
    margin-bottom: 16px;
  }

  .content__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .content__footer-btn {
    margin-top: 26px;
  }

  .form {
    grid-auto-flow: row;
    margin: 0 auto;
    max-width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .about {
    background-position: 34px 100%;
  }

  .benefits::after {
    width: 100%;
    bottom: -7%;
  }

  .shops__horizontal-slide {
    height: 600px;
  }

  .shops__caption {
    max-width: 280px;
  }

  .text-shops__link {
    font-size: 14px;
  }

  .text-shops__btn {
    min-width: 220px;
  }

  .feedback {
    padding: 11% 0 55%;
    background-position: -20% 410px;
    background-size: 140%;
  }
}

@media screen and (max-width: 575px) {
  .content__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    min-width: auto;
  }

  .content__col {
    margin-bottom: 48px;
  }

  .form {
    max-width: 100%;
  }
}

@media screen and (max-width: 374px) {
  .fee__price {
    font-size: 28px;
  }
}

.webp .header{ background-image: url(../img/backgrounds/header-bg2.webp); }

.webp .about{ background-image: url(../img/backgrounds/bag-bg.webp); }

.webp .about:after{ background-image: url(../img/backgrounds/fog.webp); }

.webp .benefits::after{ background-image: url(../img/backgrounds/gloves-bg.webp); }

.webp .formats:after{ background-image: url(../img/backgrounds/fog.webp); }

.webp .feedback{ background-image: url(../img/choco.webp); }

.webp .presentation{ background-image: url(../img/book.webp); }

.webp .presentation:before{ background-image: url(../img/yellow-can.webp); }

.webp .presentation:after{ background-image: url(../img/blsck-cans.webp); }

.webp .questions:after{ background-image: url(../img/backgrounds/fog.webp); }

.webp .page-bottom{ background-image: url(../img/backgrounds/bg-bottom-page.webp); }

.webp .footer__social-item_instagram{ background: #000 url(../img/icons/Inst-logo.webp) 10% 50%; }

.webp .footer__social-item_facebook{ background: #000 url(../img/icons/fb-logo-vk.webp) 19px 0; }

.webp .footer__social-item_youtube{ background: #000 url(../img/icons/yt-logo.webp) 10% 50%; }

@media screen and (max-width: 920px){

  .webp .feedback{ background-image: url(../img/choco-mob.webp); }
}